.input {
  border: 1px solid var(--color-blueGray50);;
  border-radius: 4px;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-blueGray600);
  width: 100%;
  box-sizing: border-box;
  padding: 13px;
  padding-left: 44px;
  background: url('../../../assets/icons/dollar.svg') no-repeat left 12px center;
}