@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,bold,italic');
@import url('https://fonts.googleapis.com/css?family=Rubik:regular,bold,italic');

* {
  font-family: 'Work Sans';
}

html {
  font-size: 16px;
}

@media (max-width: 560px) {
  html { font-size: 15px; }
}

@media (max-width: 360px) {
  html { font-size: 14px; }
}